
        <footer id="footer">
            <div class="top-footer">
                <div>
                    <h2>Contact Info</h2>
                    <ul class="contact-info">
                        <li>420 N Aloha</li>
                        <li>HI - USA</li>
                        <li>480-111-2222</li>
                        <li>bloomerton@bloom-mktg.com</li>
                    </ul>
                </div>
                <div>
                </div>
                <div>
                    <h2>Connect</h2>
                    <ul id="footer-links">
                        <li>
                            <a href="https://www.linkedin.com/in/filipe-ferreira-2a5697138/">
                                <img src="images/includesImg/Linkdin.jpg" alt="Linkdin"></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/filipe.camargos.902?ref=bookmarks">
                                <img src="images/includesImg/facebook.jpg" alt="Facebook"></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/filipe.camargos.ferreira/">
                                <img src="images/includesImg/Instagram.png" alt="Instagram"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <h2> &copy; 5thstar 2022</h2>
            </div>
        </footer>
    </div>
</body>

</html>