<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/includesImg/56877300-d659-48b9-80e9-790a190cfe11_200x200.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/footercss.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/basicheader.css">
    <link rel="stylesheet" href="stylesheets/navlogged.css">
    <title>
        <%= title %>
    </title>