<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/footercss.css">
    <link rel="stylesheet" href="stylesheets/nav.css">
    <link rel="stylesheet" href="stylesheets/jobboard.css">
    <link rel="stylesheet" href="stylesheets/dashboard.css">
    <link rel="stylesheet" href="stylesheets/feedback.css">
    <link rel="stylesheet" href="stylesheets/settings.css">
    <script src="https://kit.fontawesome.com/fafcaae853.js" crossorigin="anonymous"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <nav id="logged-in-nav" class="navbar navbar-fixed-top">
                <div class="navbar-left">
                    <a href="/dashboard"><h1 class="app-name">5thstar </h1></a>
                    <h4>-<%= businessName %>-</h4>
                </div>          
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/feedback">
                            <span>Feedback</span>
                        </a>
                    </li>
                    <div class="partition">|</div>
                    <li>
                        <a href="/metrics">
                            <span>Metrics</span>
                        </a>
                    </li>
                    <div class="partition">|</div>
                    <li>
                        <a href="/settings">
                            <i class="fa-solid fa-gear"></i>
                        </a>
                    </li>
                    <div class="partition">|</div>
                    <li>
                        <a class="nav-a" href="/logout">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </a>
                    </li>
                </ul>
            </nav> 