<div class="navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav navbar-left">
        <h1 class="app-name">5thstar</h1>
    </ul>


    <ul class="nav navbar-nav navbar-right">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <% if (isAuthenticated) { %>
            <!-- <li><a class="sing-incons" href="/jobboard"><span class="glyphicon glyphicon-briefcase"></span> Job Board</a></li>
            <li><a class="sing-incons" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li> -->
        <% } %>
        <% if (!isAuthenticated) { %>
            <li id="<%= login ? 'loginIcon' : ''%>"><a class="nav-icon" href="/login"><i class="fa-solid fa-right-to-bracket nav-icon"></i><div>Login</div></a></li>
            <li class="partition">|</li>
            <li id="<%= singUp ? 'signInIcon' : ''%>"><a class="nav-icon" href="/signup"><i class="fa-solid fa-user-plus nav-icon"></i></span><div>Sign Up</div></a></li>
        <% } %>
    </ul>
</div>