@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root {
    --green: #00C29A;
    --yellow: #F8FD99;
    --purple: #C89AFE;
    --blue: #50A2FF;
    --dark-gray: #131417;
    --gray: #1b1f24;
    --white: #e9eaea;
    --red: #ff6961;
}

body {
	font-family: "Montserrat", sans-serif;
  background-color: var(--gray);
  color: var(--white)
}

.h1 {
  border: 1px solid var(--green);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 300px;
}