.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    padding: 15px;
}

.text h1 {
    margin: 0;
}

.upload-customers-container {
    width: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    margin: 1rem;
}

.analytics-container {
    width: 80rem;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border: 1px solid black;
    margin: 1rem;
}

.analytics-container .box {
    width: 28%;
}

.scores-container {
    width: 80rem;
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    border: 1px solid black;
    margin: 1rem;
}