/*Footer*************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root {
    --green: #00C29A;
    --yellow: #F8FD99;
    --purple: #C89AFE;
    --blue: #50A2FF;
    --dark-gray: #131417;
    --gray: #1b1f24;
    --white: #e9eaea;
}

#footer {
    margin-bottom: -200px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.top-footer {
    background-color: var(--gray);
    height: 175px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 15px;
    color: #fff;
}

.top-footer h2 {
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    /* margin-left: 40%; */
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.top-footer li {
    list-style-type: none;
    margin-bottom: 1px;
}

.top-footer a {
    text-decoration: none;
}

.top-footer a:visited {
    text-decoration: none;
    color: var(--purple);
}

.top-footer img {
    border-radius: 50%;
}

.footer-bottom {
    background-color: var(--dark-gray);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom h2 {
    background-color: var(--gray);
    color: var(--white);
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 70%;
}

.top-footer a:link {
    color: #fff;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 40%;
    flex-direction: column;
}

.contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

