@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root {
    --green: #00C29A;
    --yellow: #F8FD99;
    --purple: #C89AFE;
    --blue: #50A2FF;
    --dark-gray: #131417;
    --gray: #1b1f24;
    --white: #e9eaea;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    background: var(--yellow);
    color: var(--gray);
}

.container {
    display: flex;
    justify-content: center;
    /* margin-top: 10rem;
    margin-bottom: 5rem; */
    width: 100%;
    background-color: var(--gray);
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.container-signup {
    position: relative;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: var(--dark-gray);
    width: 400px;
    height: 500px;
    overflow: hidden;
}

.container-login {
    position: relative;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: var(--dark-gray);
    width: 400px;
    height: 500px;
    overflow: hidden;
}

.form-container-signup {
    position: absolute;
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.form-container-login {
    position: absolute;
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.form-container h1 {
    color: var(--white);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

#two {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    transform: translateX(-100%);
    transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

input {
    font-size: 1em;
    font-weight: 700;
    outline: 0;
    padding-left: 10px;
    width: 100%;
    height: 30px;
    color: var(--yellow);
    background: var(--green);
    border: 1px solid var(--white);
    transition: all 0.3s ease, transform 0.15s ease;
}

input:focus {
    border-color: var(--yellow);
    background: var(--yellow);
    color: var(--dark-gray);
}

label {
    width: 100%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    color: var(--white);
    font-size: 13px;
    transition: all 0.2s ease
}

input:hover,
label:hover {
    cursor: pointer;
}

p {
    position: relative;
    margin: 0 0 10px 0;
    padding: 0;
    z-index: 1;
}

.form-container p:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--green);
    transform: translate(5px, 5px);
    transition: all 0.33s ease;
}

p:not(.submit):hover::before {
    background: var(--white);
}

::-webkit-input-placeholder {
    font-size: 0.8em;
    color: var(--dark-gray);
    opacity: 0.5;
}

input[type="submit"] {
    color: var(--dark-gray);
    background: var(--green);
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.33s ease;
    letter-spacing: 1px;
}

input[type="submit"]:hover {

}

p.submit {
    margin-top: 25px;
    transform: translateX(0);
    transition: all 0.2s ease;
}

.submit:after {
    content: "\0279C";
    color: var(--white);
    top: 0;
    left: 100%;
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: -2;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0px);
    background: var(--green);
    pointer-events: auto;
    transition: all 0.2s ease;
}

.submit:before {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background: transparent;
}

.submit:hover::after {
    transform: translateX(0px);
}

.submit:hover,
.submit::after {
    transform: translateX(-30px);
}

#button {
    position: absolute;
    transform: translateY(460px);
    width: 100%;
    height: 40px;
    color: var(--purple);
    font-style: italic;
    font-size: 0.8em;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#button:hover {
    cursor: pointer;
}

#button:before {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--green);
    z-index: -1;
    transform: translateX(-100%) translateY(calc(2px - 100%));
    opacity: 0;
}

#button:hover::before {
    transition: transform .7s cubic-bezier(.19, 1, .22, 1);
    transform: translateX(0%) translateY(calc(2px - 100%));
    opacity: 1;
}

#button:after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--green);
    z-index: -2;
    transition: transform .8s cubic-bezier(.19, 1, .22, 1);
    transform: translateX(100%) translateY(calc(2px - 100%));
    opacity: 1;
}

#button:hover::after {
    transition: none;
    transform: translateX(0%) translateY(calc(2px - 100%));
    opacity: 0;
}

.signup-form {
    display: none;
    flex-direction: column;
}

.form h1 {
    text-align: center;
    margin-left: 8px;
    text-transform: uppercase;
    font-size: 34px;
}

.form-control {
    border-radius: 0;
    background-color: var(--gray);
    transition: all 0.3s ease, transform 0.15s ease;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.green {
    width: 5px;
    height: 20px; 
    border-radius: 2px;
    background-color: var(--green);
    margin: 2px;
}

.yellow {
    width: 5px;
    height: 12px; 
    border-radius: 2px;
    background-color: var(--yellow);
    margin: 2px;
}

.blue {
    width: 5px;
    height: 20px; 
    border-radius: 2px;
    background-color: var(--blue);
    margin: 2px;
}

.signup-protection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lock-glyph-container {
    position: relative;
}

.signup-protection {
    font-size: 46px;
    text-align: center;
    margin-bottom: 4rem;
    z-index: 5;
}

.signup-protection-2 {
    color: var(--purple);
    font-size: 46px;
    position: absolute;
    left: 1px;
    z-index: 4;
}

.signup-protection-3 {
    color: var(--blue);
    font-size: 46px;
    position: absolute;
    left: 2px;
}

#signup-password {
    border: 2px solid #999;
    
    /* 2 animations: shake, and glow red */
    /* animation-name: shake, glow-red; */
    animation-duration: 0.7s, 0.35s;
    animation-iteration-count: 1, 2;
}

@keyframes shake {
    0%, 20%, 40%, 60%, 80% {
        transform: translateX(8px);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-8px);
    }
}

@keyframes glow-red {
    50% {
        border-color: indianred;
    }
}