@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root {
    --green: #00C29A;
    --yellow: #F8FD99;
    --purple: #C89AFE;
    --blue: #50A2FF;
    --dark-gray: #131417;
    --gray: #1b1f24;
    --white: #e9eaea;
}

#logged-in-nav .navbar-toggle {
    background-color: var(--gray);
}

.navbar-toggle .icon-bar {
    background-color: var(--white);
}

#logged-in-nav a {
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
}

.navbar-nav li:hover {
    color: none;
}

#logged-in-nav .nav-a:hover {
    color: var(--green);
    margin-top: -2px;
}

.main-log {
    margin-top: -4px;
}

/* COLE'S STYLING */

.container-fluid {
    border-bottom: 2px solid #dedede;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-left a {
    text-decoration: none;
}

.navbar-left h4 {
    padding: 10px;
    margin: 0;
    padding: 10px;
    border-radius: 15px; 
    font-size: 30px;
    font-weight: 300;
}

.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
}

.navbar-right li {
    padding: 1rem;
    border-radius: 7px;
}

.navbar-right li:first-of-type {
    width: 29%;
    cursor: pointer;
}

.navbar-right li:last-of-type {
    width: 35%;
    cursor: pointer;
}

.app-name {
    margin: 0;
    padding: 10px;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
    
}

/****************************************
Home Page Style
*****************************************/
.navbar {
    background-color: var(--gray);
    color: var(--white);
    border: none;
    padding: 1rem 4rem 1rem 4rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    border-bottom: 2px solid var(--green);
}

.navbar-right li:first-of-type:hover {
    transition: all 400ms ease-in-out;
    background-color: var(--dark-gray);
}

.navbar-right li:last-of-type:hover {
    transition: all 400ms ease-in-out;
    background-color: var(--dark-gray);
}

.navbar-right li:hover .fa-solid{
    color: var(--green);
    transition: 400ms ease-in-out;
    transform: rotateY(180deg);
    text-decoration: none;
}

.navbar-right li .fa-solid{
    transition: 400ms ease-in-out;
}

.navbar-right .partition:hover {
    background-color: none;
}

.navbar-right .nav-icon {
    font-size: 18px;
}


.main-log {
    margin-left: 200px;
    height: 40px;
    margin-top: 7px;
}

.partition { 
    font-size: 26px;
}

.nav-icon {
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    color: var(--white);
    text-decoration: none;
}

.nav-icon div {
    /* margin-left: 15%; */
    color: var(--white);
    font-weight: 300;
    font-size: 18px;
}

.jumbotron {
    background-image: url(/images/homepage/home-home-office-background.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #000000;
    height: auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 75px;
    padding-top: 150px;
    padding-bottom: 100px;
}

.rounded-circle {
    border-radius: 50%;
}

.featurette img {
    width: 320px;
}

#logged-in-nav .partition {
    margin: 5px;
}

#logged-in-nav .navbar-right li {
    font-weight: 300;
    width: auto;
}

#logged-in-nav .navbar-right li:last-of-type {
    width: auto;
}

#logged-in-nav .navbar-right li:hover {
    background-color: var(--dark-gray);
    transition: all 400ms ease-in-out;
}

#logged-in-nav .navbar-right li a {
    text-decoration: none;
}
