@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root {
    --green: #00C29A;
    /* --yellow: #F8FD99; */
    --yellow: #f7c02a;
    --purple: #C89AFE;
    --blue: #50A2FF;
    --dark-gray: #131417;
    --gray: #1b1f24;
    --white: #e9eaea;
}

.review-page-wrapper {
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    background-size: 30px 30px, 30px 30px;
    color: rgba(0, 0, 0, .87);
}

.review-page-body {
    background-color: white;
    padding: 3rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--dark-gray);
    box-shadow: 5px 10px var(--dark-gray);
    width: 63rem;
}

.after-submit {
    width: 50rem;
}

.after-submit h1 {
    margin-bottom: 0;
}

h1 {
    font-size: 42px;
    line-height: 55px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 3.5rem;
}



/* STARS */

.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: center;
	font-size: 36px;
    cursor: pointer;
    margin-bottom: 3.5rem;
}

.rating a {
	text-decoration: none;
    cursor: pointer;
	color: #DEDEDE;
}

a:hover {
	color: var(--yellow) !important;
}

.rating > a {
	display: inline-block;
	position: relative;
	width: 1.1em;
    font-size: 43px;
}

.rating > a:hover, .rating > a:hover ~ a {
    color: transparent;
}

.rating > a:hover:before, .rating > a:hover ~ a:before {
    content: "\2605";
    position: absolute;
    left: 1;
    color: var(--yellow);
}

/* ACCORDIONS */

.accordion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.negative-accordion {
    display: none;
}

.positive-accordion {
    display: none;
}

.negative-accordion__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
    padding: 0 15px;
    background: white;
    text-align: center;
}

.feedback-textarea {
    resize: none;
    border: 1px solid var(--gray);
    border-radius: 5px;
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    padding: 15px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    caret-color: var(--yellow);
}

.feedback-textarea:focus {
    border: 1px solid rgb(26, 115, 232);
    outline: none;
}

.feedback-submit {
    margin-top: 1rem;
    width: 10rem; 
    height: 2.5rem;
    background-color: rgb(26, 115, 232);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.feedback-submit:hover {
    transform: scale(1.03);
}

.feedback-submit:disabled {
    background-color: rgba(60, 64, 67, 0.12);
}

.feedback-submit:disabled:hover {
    transform: none;
}

.positive-accordion__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
    padding: 0 15px;
    background: white;
    text-align: center;
}

.positive-accordion__content h1 {
    font-size: 24px;
    margin-bottom: 0;
}

.positive-accordion p {
    color: rgb(196, 196, 196);
    font-style: italic;
    margin-bottom: 3rem;
    font-size: 18px;
}

.positive-accordion__content button {
    margin-top: 1rem;
    width: 11rem;
    height: 3rem;
    background-color: rgb(26, 115, 232);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 26px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 300ms ease-in-out;
}

.positive-accordion__content button:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 400px) {
    .review-page-body {
        padding: 25px;
        width: 90%;
    }

    h1 {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 3.5rem;
    }

    .feedback-textarea {
        width: 100%;
    }

    .positive-accordion__content h1 {
        margin-bottom: 5px;
    }
}

