<div class="review-page-wrapper">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/review.css">
    
    <div class="review-body">
        <p>This is the review page</p>
        <h2>How would you rate your experience with <%= businessName %>?</h2>
<!-- NiceReply -->
        <table width="320" border="0" align="center" cellpadding="20" cellspacing="0" style="text-align: center;">
            <tr>
                <td>
                    <div class="rating"> 
                        <a href="#" id="star-5">★</a> 
                        <a href="#" id="star-4">★</a> 
                        <a href="#" id="star-3">★</a> 
                        <a href="#" id="star-2">★</a> 
                        <a href="#" id="star-1">★</a>
                    </div>
                    <p><span class="subtext">(select 1-5 stars)</span></p>
                </td>
            </tr>
        </table>
        <div class="negative-accordion accordion"> 3 stars or less
            <div class="negative-accordion__content">
                <input type="textarea" placeholder="u r dum, i send bom">
            </div>
        </div>
        <div class="positive-accordion accordion"> 4 or more stars
            <div class="positive-accordion__content">
                <h4>Glad to hear it!</h4>
                <p>Would you be willing to leave a review on google?</p>
                <button>YAS QUEEN</button>
            </div>
        </div>

    </div>
    <script src="scripts/reviewScripts.js"></script>
</div>
