<head>
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="review-page-wrapper">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/review.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <div class="review-page-body">
        <h1>How would you rate your experience with <%= businessName %>?</h1>
        <table width="320" border="0" align="center" cellpadding="20" cellspacing="0" style="text-align: center;">
            <tr>
                <td>
                    <div class="rating"> 
                        <a id="star-5">★</a> 
                        <a id="star-4">★</a> 
                        <a id="star-3">★</a> 
                        <a id="star-2">★</a> 
                        <a id="star-1">★</a>
                    </div>
                </td>
            </tr>
        </table>
        <div class="negative-accordion accordion">
            <div class="negative-accordion__content">     
                <input id= "token" type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <textarea class="feedback-textarea" rows="6" cols="40" placeholder="How can we improve?"></textarea>
                <br>
                <button class="feedback-submit" id="feedback-submit-button" disabled>Submit</button>
            </div>
        </div>
        <div class="positive-accordion accordion">
            <div class="positive-accordion__content">
                <h1>Glad to hear it! Would you be willing to leave a review on google?</h1>
                <p>This helps us continue providing the best experience for you and others </p>
                <a href=<%=reviewLink%>><button>Yes</button></a>
                <br>
            </div>
        </div>
    </div>
    <div class="review-page-body after-submit" style="display: none;">
        <h1>Thanks for your feedback!</h1>
    </div>
    <script src="scripts/reviewScripts.js"></script>
</div>
