<!DOCTYPE html>
<html>

<head>
    <title>Review</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>

<body style="background-color: rgb(234, 234, 234); padding: 2%;">
    <table border="0" align="center" style="font-family: Helvetica, Arial, serif; width: 92%" width="92%">
        <tr>
            <td style="text-align: center;">
                <table align="center" border="0" width="100%" style="width: 100%; background-color: #172f57;">
                    <tr>
                        <td align="center" style="padding-top: 2em; padding-bottom:0.25em" ;>
                            <img alt="Bloom Logo" srcset="" src="" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center"
                            style="font-size:medium; font-weight:100; color: white; font-family: 'Montserrat', sans-serif; line-height:normal;">
                            THANKS APP
                        </td>
                    </tr>
                    <tr>
                        <td align="center"
                            style="padding-bottom: 3.4em; font-size:x-small; font-weight:100; color: white; font-family: 'Hind', sans-serif;">
                            - Powered by Bloom MKTG -
                        </td>
                    </tr>

                    <tr>
                        <td align="center" style="padding-bottom: 3em; color: white; font-size:medium">

                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 2em">
                            <table align="center" width="80%" style="max-width:80%">
                                <tr>
                                    <td>
                                        <table border="0" align="center" cellpadding="0" cellspacing="0"
                                            style="margin:0 auto;">
                                            <tr>
                                                <td align="center">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        style="margin:0 auto;">
                                                        <tr>
                                                            <td align="center" bgcolor="#fcb614"
                                                                style="
                                                                    min-width:160px; 
                                                                    -moz-border-radius: 3px; 
                                                                    -webkit-border-radius: 3px; 
                                                                    border-radius: 3px; 
                                                                    font-family: 'Neutraface-Demi', 
                                                                    Arial, 'Helvetica Neue', 
                                                                    Helvetica, sans-serif;
                                                                ">
                                                                <a class="msoAltFont"
                                                                    href="https://bloom-mktg.info/review"
                                                                    style="
                                                                        padding: 14px 12px; 
                                                                        mso-padding-alt: 9px 13px; 
                                                                        min-width:160px; 
                                                                        display: block;
                                                                        text-decoration: none;
                                                                        border: 0; 
                                                                        text-align: center; 
                                                                        font-weight: 500;
                                                                        font-size: 16px; 
                                                                        color: black; 
                                                                        background: #fcb614; 
                                                                        border: 1px solid #fcb614;
                                                                        -moz-border-radius: 3px; 
                                                                        -webkit-border-radius: 3px; 
                                                                        border-radius: 3px; 
                                                                        mso-line-height-rule: exactly; 
                                                                        line-height:18px;
                                                                    ">
                                                                    Give Review
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 12px;">{{message}}</td>
        </tr>
    </table>
    <a href="https://www.smtp2go.com/wonderful">Wonderful!</a>
    <a href="https://www.smtp2go.com/decent">Decent</a>
    <a href="https://www.smtp2go.com/poor">Poor</a>
</body>

</html>